<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to comment.author.name, user_path(comment.author) %>
      <small><%= comment.created_at.to_datetime.to_s(:long) %></small>
    </h4>
    <%= comment.text %>
    <% if current_user == comment.author %>
      <small>
        <%= link_to "Delete", comment_path(comment), method: :delete %>
      </small>
    <% end %>
  </div>
</div>
<hr>
