<% provide(:title, "Users | #{default_title}") %>

<div class="row">
  <div class="col-lg-8">
    <h1 class="page-header">Users</h1>

    <%= render @users %>
    <%= will_paginate @users, renderer: ApplicationHelper::MyLinkRenderer %>

    <div class="btn-container">
      <%= link_to '<span class="glyphicon glyphicon-menu-left small"></span>' \
                    ' Home'.html_safe,
                  root_path %>
    </div>
  </div>
</div>
