<% provide(:title, "Users") %>

<h1>Users#index</h1>

<% @users.each do |user| %>
    <b><%= user.name %></b><br>
    registered: <%= user.created_at.to_datetime.to_s(:long) %><br>
    <%= link_to "Profile", user_path(user) %> |
    <%= link_to "Blog", blog_path(author: user.name) %><br>
    <br>
<% end %>