<% provide(:title, default_title) %>

<div class="row">
  <div class="col-md-8">
    <h1 class="page-header">Simpleblog <small>Recent posts</small></h1>
    <%= render partial: 'post', collection: @posts %>
    <%= render partial: 'shared/posts_pagination', locals: {posts: @posts} %>
  </div>
</div>
