<% provide(:title, "New post | #{default_title}") %>

<div class="row">
  <div class="col-lg-8">
    <h1 class="page-header">New post</h1>
    <%= render partial: 'form', locals: { submit_name: 'Create' } %>
  </div>
</div>
