@import 'bootstrap-sprockets';
@import 'bootstrap';

/* General and layout */
body {
  padding-top: 70px;
}

footer {
  margin: 50px 0;
}

.navbar-info {
  color: #fff!important;
}

a:hover {
  text-decoration: none;
}

/* Buttons */
.btn-container {
  margin-top: 20px;
  margin-bottom: 5px;

  a, .btn {
    margin-right: 10px;
  }

  a {
    display: inline-block;

    &.btn-secondary {
      color: #373a3c;
      background-color: #ffffff;
      border: 1px solid #adadad;

      &:hover {
        color: #373a3c;
        background-color: #e6e6e6;
      }
    }
  }

  .btn {
    min-width: 100px;
  }
}

/* Forms */
.field_with_errors input {
  border-color: #a94442;
}

/* Posts */
.post-datetime {
  color: #777;
}

/* Pagination */
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span
{
  cursor: default;
}